[Unit]
Description=Start Docker Compose services
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
ExecStart=/home/$USER/sysadmin-utilities/start-compose-services/start-compose-services.sh

[Install]
WantedBy=multi-user.target
