[Unit]
Description=Send Discord Notification on Startup

Wants=network.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/$USER/sysadmin-utilities/startup-notify/startup-notify.sh

[Install]
WantedBy=multi-user.target
